.about_title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: xx-large;
}
.about_subheader {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: x-large;
}

.about_mini_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 86%;
    height: auto;
}

.about_text {
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 20px;
}