.B1 {
    background-color: green;
}

.B2 {
    background-color: yellow;
}

.B3 {
    background-color: orange;
}

.B4 {
    background-color: red;
}

.B5 {
    background-color: blueviolet;
}

.B6 {
    background-color: gray;
}