
.B1 {
    --background: green;
    width: 100%;
}

.B2 {
    --background: #ffeb3b;
    width: 100%;
}

.B3 {
    --background: orange;
    width: 100%;
}

.B4 {
    --background: red;
    width: 100%;
}

.B5 {
    --background: blueviolet;
    width: 100%;
}

.B6 {
    --background: gray;
    width: 100%;
}